body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  .container {
    width: 80%;
    margin: 50px auto;
    background-color: #794f4f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .input-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="number"],
  button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .goal-scorer {
    text-align: center;
  }
  
  .no-players {
    color: #888;
  }
  